body {
    margin: 0;
    font-family: "Prompt", sans-serif;
    background: #f3e7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loginBox, #cardBox {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    text-align: center;
    width: 320px;
}

input {
    padding: 10px;
    width: 80%;
    border-radius: 8px;
    border: 1px solid #bbb;
    margin-top: 10px;
    font-size: 16px;
}

button {
    background: #9422ff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

#cardBox {
    display: none;
    width: 360px;
}

img {
    width: 100%;
    border-radius: 12px;
    margin-top: 15px;
}
